@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Go to the Counter Page,</p>
<p>and try to hit the Click Me button, </p>
<p>to introduce an error and handle that gracefully and show a customized UI</p>
